* {
   box-sizing: border-box;
}

body{
   width: 100%;
   background-color: red;
   color: wheat;
   margin: 0 auto;
}

a{
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
}

.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: center;
   font-family: 'Courier New', Courier, monospace;
   position: relative;
   min-height: 100vh;
}

.img {
   width: 25rem;
   height: 15rem;
   padding: 2rem;
}

.timer {
   font-size: 4rem;
   margin-top: -9rem;
}

.areaBtn {
   margin-top: 4rem;
   display: flex;   
   padding-bottom: 2.5rem; 
}

.botao {
   width: 12rem;
   background-color: wheat;
   font-size: 1.5rem;
   text-align: center;
   color: red;
   border-radius: 1rem;
   cursor: pointer;
   padding: .5rem;
}

.botao+.botao {
   margin-left: 1rem;
}

.botao:hover {
   opacity: 0.7;
   color: blue;
   transition: all 0.50s;
}

#footer {
   width: 100%;
   text-align: center;
   background: aliceblue;
   color: red;
   margin: 0 auto;
   font-size: smaller;
   position: absolute;
   bottom: 0;  
   height: 2.5rem;   
   padding-top: .5rem;
}

@media (max-width: 800px){
   #footer{
      font-size: .5rem;
      padding: 1.5rem;
      padding-bottom: 2rem;
      text-align: center;
   }
   .img{
      width: 25rem;
      height: 15rem;
   }
   .botao{
      width: 10rem;
   }
}